*{
    margin: 0 auto 0 auto;
    align-items: center;
    text-align: center;
}
@font-face{
  font-family: 'Dancing Script';
  src: url('Dancing Script.otf');
}
body{
    font-family: 'Dancing Script', cursive;
    background: #02010a;
    color: rgb(255, 255, 255);
    font-style: inherit; 
}
figcaption, footer, footer a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
figure{
    max-width: 100%;
    height: auto;
}
.contenido{
    width: 900px;
    margin: 1% auto;
    animation:animacion 2s;
}
.contenido img{
    box-shadow: 2px 2px 2px #02010a;
}
.menu{
    width: 100%;
    background: #5b7989;
    border-radius: 10px 10px 0 0;
    display: flex;          /*posicionar el titulo*/
    flex-flow: row wrap;    /* y el listado a la misma*/  
    min-height: 90px;       /* altura*/  
    word-spacing: 15px;
}
.menu h1{
    text-shadow: 2px 2px 1px #02010a;
    text-align: left;
}
.menu a{
    color: rgb(255, 255, 255);
    font-style: inherit;
}
.imgcentral{
    background-color: #82c3a6;
    padding: 10px;
}
.medio{
    background-color: #d5c75f;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}
.imgizq, .imgder{
    width: 50%;
}
.imgder figure, .imgizq figure{
    transition: transform 1s;
}
.imgizq img:hover{
    transform: rotate(10deg);
    box-shadow: 2px 2px 2px #82c3a6;
}
.imgder img:hover{
    transform: translate(20px,-5px);
    box-shadow: 2px 2px 2px #82c3a6;
}
footer{
    background-color: #c6d5c5;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-flow: row wrap;
}
.contacto, .terminos, .redes, .derechos{
    width: 25%;            
}
.galeria{
    background-color: #d5c75f;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}
.galeria1,.galeria2{
    width: 50%;
}
.img1{
    filter: blur(10px);
}
.img2,.img4,.img6{
    filter: grayscale(100%);
}
.img3{
    filter: sepia(90%);
}
@-webkit-keyframes animacion{
    0%{
        margin-top:150%;
    }
    60%{
        margin-top:-5%;
    }
    100%{
        margin-top:0%;
    }
}
@media screen and (max-width: 900px){/*móviles*/
    *{
        max-width: 900px;
        margin: 0 auto 0 auto;
    }
    .contenido{
        width: 100%;
        text-align: center;
        margin: 1% auto;
    }
    .menu h1{
        width: 100%;
        text-align: center;
    }
    .menu a{
        text-align: center;
        display: inline;
    }
    .imgcentral img{
        width: 80%;
    }
    .imgizq, .imgder{
        width: 100%;
        text-align: center;
    } 
    footer{
        width: 100%;
        display: flex;
    }
    .contacto, .terminos, .redes, .derechos{
        width: 100%;
        padding: 10px;
    }
    .galeria{
        display: flex;
        text-align: center;
    }
    .galeria1, .galeria2{
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
}